@inherits LayoutComponentBase

<div class="page">
    <div style="background-image:none;background-color:#990000;" class="sidebar">
        <NavMenu />
    </div>

    <main class="flex-grow-1">
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>
