@page "/"

@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<PageTitle>ProfilePage</PageTitle>

@if (authenticationState.User.Identity.IsAuthenticated)
{
    <h1>Welcome @authenticationState.User.Identity.Name.</h1>
}
else
{
    <p>Welcome, please log in.</p>
}

@code {
    private AuthenticationState authenticationState;

    protected override async Task OnInitializedAsync()
    {
        authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }
}

