@using Microsoft.AspNetCore.Components.Authorization
@page "/login"

@inject AuthenticationService AuthenticationService
@inject NavigationManager NavigationManager
@inject HttpClient Http

<h2 style="margin-left: 10px">Login</h2>

@if (!isSubmitting)
{
    <EditForm Model="@loginModel" OnValidSubmit="HandleLogin" style="margin-left: 10px;">
        <InputText @bind-Value="loginModel.Username" />
        <InputText type="password" @bind-Value="loginModel.Password" />
        <button class="button-custom" type="submit" style="margin-top: 10px">Log in</button>
    </EditForm>
}
else
{
    <p>Logging in...</p>
}

<button class="button-custom" type="button" @onclick="RedirectToSignUp" style="margin-top: 10px; margin-left: 10px">Sign Up</button>


@code {
    private LoginModel loginModel = new LoginModel();
    private bool isSubmitting = false;

    private async Task HandleLogin()
    {
        isSubmitting = true;
        var result = await AuthenticationService.LoginAsync(loginModel.Username, loginModel.Password);
        if (result.IsSuccess)
        {
            
            NavigationManager.NavigateTo("/", forceLoad: true);
        }
        else
        {
            Console.WriteLine("Login failed: " + result.Error);
        }
        isSubmitting = false;
    }

    private void RedirectToSignUp()
    {
        NavigationManager.NavigateTo("/signup");
    }



    public class LoginModel
    {
        public string Username { get; set; }
        public string Password { get; set; }
    }
}
