@using Microsoft.AspNetCore.Components.Authorization


@page "/login"

@inject AuthenticationService AuthenticationService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<h3>Login</h3>

@if (!isSubmitting)
{
    <EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
        <InputText @bind-Value="loginModel.Username" />
        <InputText type="password" @bind-Value="loginModel.Password" />
        <button type="submit">Log in</button>
    </EditForm>
}
else
{
    <p>Logging in...</p>
}

@code {
    private LoginModel loginModel = new LoginModel();
    private bool isSubmitting = false;

    private async Task HandleLogin()
    {
        isSubmitting = true;
        var result = await AuthenticationService.LoginAsync(loginModel.Username, loginModel.Password);
        if (result.IsSuccess)
        {
            var customAuthProvider = AuthenticationStateProvider as CustomAuthenticationStateProvider;
            if (customAuthProvider != null)
            {
                await customAuthProvider.MarkUserAsAuthenticated(loginModel.Username);
                NavigationManager.NavigateTo("/", forceLoad: true);
            }
        }
        else
        {
            Console.WriteLine("Login failed: " + result.Error);
        }
        isSubmitting = false;
    }

    public class LoginModel
    {
        public string Username { get; set; }
        public string Password { get; set; }
    }
}